body {
  margin: 0;
  text-align: center;
  display: block;
}

/* Header Styling below ------------- */
header {
  padding: 40px 0 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  box-shadow: 1px 1px #eee;
}

header::before {
  content: '.';
  color: #182256;
  width: 100%;
  height: 30px;
  background-color: #182256;
  position: absolute;
  top: 0;
  left: 0;
}
.header-row-1, .header-row-2 {
  display: flex;
  flex-direction: row;
}
.header-row-1 div, .header-row-1 h1, .header-row-2 div {
  place-self: center;
}
header h1 {
  font-family: "Jockey One", sans-serif;
  width: 100%;
  margin: 0;
  color: #B642A4;
  font-size: 2.75rem;
}
.menu-icon, .search-icon, .home-icon {
  color: #0e81a4;
  width: 30px;
  padding: 10px;
  font-size: 1.2rem;
  font-size: 700;
}
.menu-icon:hover, .search-icon:hover, .home-icon:hover {
  color: #B642A4;
}
.home-icon {
  font-size: 1.1rem;
}
.search-bar-holder {
  width: 40%;
  max-width: 250px;
  margin: 0 auto;
}
.search-bar {
  display: inline-block;
  border-radius: 7px;
  line-height: 1.2;
  padding: 3px;
  text-indent: 2px;
  font-style: italic;
  width: 100%;
  border: solid 1px #555555;
}
.display-none {
  display: none;
}

/* Header Styling below ------------- */
/* Footer Styling below ------------- */
footer {
  background-color: #182256;
  width: 100%;
}
footer p {
  color: #5363b1;
  text-align: center;
  padding: 15px 10px 10px;
  margin: 0;
}
.footer-links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 0 10px 20px;
}
.footer-links li {
  text-align: left;
  margin: 0;
  place-self: center;
  list-style-type: none;
}
.footer-links a {
  color: #646cff;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 2px;
  min-width: 160px;
  text-decoration: none;
}
.footer-links a:hover {
  cursor: pointer;
  color: #3d4d9c;
}
.footer-links img {
  width: 22px;
  background-color: #555cdc;
  border-radius: 50px;
  margin-bottom: -4px;
  margin-right: 2px;
}
/* Footer Styling above ------------- */
@media screen and (min-width:400px) {
  /* Footer Styling below ------------- */
  .footer-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width:400px ;
    margin: 0 auto;
  }
  .footer-links li {
    line-height: 1.5;
  }
  /* Footer Styling above ------------- */
}
@media screen and (min-width:740px) {
  /* Header Styling below ------------- */
  .header-row-1, .header-row-2 {
    max-width:800px;
    margin: 0 auto;
  }
  .display-none {
    display: inline-block;
  }
  .home-icon {
    font-size: 1.75rem;
  }
  .menu-icon, .search-icon {
    display: none;
  }
  /* Header Styling above ------------- */
  /* Footer Styling below ------------- */  
  .footer-links {
    flex-direction: row;
    justify-content: center;
    max-width:700px;
  }
  /* Footer Styling above ------------- */
}